*, *::after *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #444;
}

.paddle {
 --position:50;

 position: absolute;
 background-color: white;
 transform: translateY(-50%);
 width: 1vh;
 height: 10vh;
 top: calc(var(--position) * 1vh)
}

.paddle.l {
 left: 1vw;
}

.paddle.r {
 right: 1vw;
} 

.ball {
    --x: 50;
    --y: 50;
   
    position: absolute;
    background-color: white;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    transform: translate(-50%, -50%);
    width: 2vh;
    height: 2vh;
    
   }

   .score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: white;
   }

   .score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: 0.3;
   }

   .score > :first-child {
    text-align: right;
    border-right: 0.5vh dotted white;
   }