body {
  background-image: url("oldwallpaper.webp");
}

p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(63, 16, 107);
  color: white;
  margin: 10%;
  border: 1px solid rgb(195, 0, 255);
}
h1 {
  text-align: center;
  color: white;
}
img {
  width: 20%;
}
h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(63, 16, 107);
  color: white;
}
h3 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(63, 16, 107);
  color: white;
  margin: 10%;
  border: 1px solid rgb(195, 0, 255);
}

.liszt {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(63, 16, 107);
  color: white;
  margin: 10%;
  border: 1px solid rgb(195, 0, 255);
}
.veszely {
    font-size: 100px;
    background-color: black;
    color: red;
  }
  h5{
    text-align: center;
  }